#op{
    color:black;
    border : 1px solid white;
    padding: 25px;
    margin-left : 600px;
    margin-right: 600px;
  }
  #opmail{
      border : 1px solid white;
      padding: 25px;
      margin-left: 600px;
      margin-right: 600px;
  }
  .m4{
    text-align: center;  
    display: block;
    margin: auto;
  }
  #but1{
      margin-right: auto;
      margin-left: auto;
  }